
@font-face {
  font-family: 'BwSurcoDEMO-Bold';
  src: url('BwSurcoDEMO-Bold.eot?#iefix') format('embedded-opentype'),  url('BwSurcoDEMO-Bold.otf')  format('opentype'),
	     url('BwSurcoDEMO-Bold.woff') format('woff'), url('BwSurcoDEMO-Bold.ttf')  format('truetype'), url('BwSurcoDEMO-Bold.svg#BwSurcoDEMO-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
